/* Ensure proper sizing */
* {
  box-sizing  : border-box;
  padding     : 0;
  margin      : 0;
}

body {
  background-color: #f1f1f1;
  width:              100%;
  height:             100%;
}

/* CSS */
.button-30 {
  -webkit-appearance: none;
  border-radius: 0;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 32px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  margin: 4px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.header {
  padding: 16px; /* some padding */
  text-align: center; /* center the text */
  background: #1e2221; /* green background */
  color: white; /* white text color */
}

/* Increase the font size of the <h1> element */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #333; /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  display           : block;
  flex              : 20%;
  flex-direction    : column;
  background-color  : grey;
  padding           : 20px;
  height            : 100vh;
}

.main {
  flex: 80%; 
  background-color: #f1f1f1;
  padding: 20px; 
}

.main > p  {
  margin-top      : 8px;
  margin-bottom   : 8px;
}

.main > button {
  margin-top      : 8px;
  margin-bottom   : 8px;
}


.main > input {
  margin-top      : 8px;
  margin-bottom   : 8px;
}

.mix_sel {
  color: yellow;
}

.lbs {
  position: relative;
}

.p {
  position: relative;
}

.ch {
  position: absolute;
  pointer-events: none;
  flex: none;
  transform: translateY(-102%);
  border: none;
  border-color: transparent;
  background-color: transparent;
  text-align: right;
  opacity: 0.8;
}

#bake_times, #recipes {
  margin-left: 16px;
  white-space: pre-wrap;
}

@media screen and (min-width: 700px) {
  .side > .btn {
    display: block;
    width : 50%;
    height : 24px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .side{
    height : auto;
    padding : 8px;
  }
  .navbar a { 
    width: auto;
    padding: 7px 10px;
  }
}


@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}